<title>CHECH</title>

<form method="POST" action="checkAuth">
    <input type="text" name="username"><br>
    <input type="password" name="password"><br>
    <input type="submit" value="login">
</form>